<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/hotels">
        <input type="text" name="name" placeholder="Enter hotel Name" />
        <input type="text" name="place" placeholder="select place" />
        <button type="submit">search for hotels</button>
    </form>
</body>

</html>